.ansi-green {
  color: #198754
}
.ansi-lightgray {
  color: #959da6
}
.ansi-red {
  color: #dc3545
}
.ansi-white {
  color: white
}
.ansi-black {
  color: black
}
.ansi-yellow {
  color: #ffc107
}
.ansi-magenta {
  color: #e31081
}
.ansi-lightmagenta {
  color: #f567b3
}
